#Ambientes Virtuais
.venv/
venv/
env/

#Cache do Python
__pychache__/
*.pyc

#Arquivos temporários do Excel
~$*

#Arquivos temporários gerais
*.tmp
*.bak

#Configurações locais do VS Code
.vscode/

#Arquivos do Sistema
.DS_Store
Thumbs.db
